In [1]:
#Import Pandas
import pandas as pd

#Load Datasets
cc_apps = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data", header=None)

#Inspect data to print first 5 rows.
cc_apps.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

In [2]:
#Adding columns name to the dataframe of cc_apps:

cc_apps.columns = ['Gender', 'Age', 'Debt', 'Married', 'BankCustomer', 'EducationLevel', 'Ethincity', 'YearsEmployed', 'PriorDefault', 'Employed', 'CreditScore', 'DriversLicense', 'Citizen', 'ZipCode', 'Income', 'ApprovalStatus']

In [3]:
cc_apps.head()

,Gender,Age,Debt,Married,BankCustomer,EducationLevel,Ethincity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,ApprovalStatus
0,b,30.83,0.000,u,g,w,v,1.25,t,t,1,f,g,00202,0,+
1,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,00043,560,+
2,a,24.50,0.500,u,g,q,h,1.50,t,f,0,f,g,00280,824,+
3,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,00100,3,+
4,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,00120,0,+

In [4]:
#print summary statistics

cc_apps_description = cc_apps.describe()
print(cc_apps_description)

print("\n")

#print dataframe information
cc_apps_info = cc_apps.info()
print(cc_apps_info)

print("\n")

#Inspect missing values in the dataset

print(cc_apps.tail(17))

             Debt  YearsEmployed  CreditScore         Income
count  690.000000     690.000000    690.00000     690.000000
mean     4.758725       2.223406      2.40000    1017.385507
std      4.978163       3.346513      4.86294    5210.102598
min      0.000000       0.000000      0.00000       0.000000
25%      1.000000       0.165000      0.00000       0.000000
50%      2.750000       1.000000      0.00000       5.000000
75%      7.207500       2.625000      3.00000     395.500000
max     28.000000      28.500000     67.00000  100000.000000


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          690 non-null    object
 1   Age             690 non-null    object
 2   Debt            690 non-null    float64
 3   Married         690 non-null    object
 4   BankCustomer    690 non-null    object
 5   EducationLevel  690 non-null    object
 6   Ethincity       690 non-null    object
 7   YearsEmployed   690 non-null    float64
 8   PriorDefault    690 non-null    object
 9   Employed        690 non-null    object
 10  CreditScore     690 non-null    int64
 11  DriversLicense  690 non-null    object
 12  Citizen         690 non-null    object
 13  ZipCode         690 non-null    object
 14  Income          690 non-null    int64
 15  ApprovalStatus  690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB
None


    Gender    Age    Debt Married BankCustomer EducationLevel Ethincity  \
673      ?  29.50   2.000       y            p              e         h
674      a  37.33   2.500       u            g              i         h
675      a  41.58   1.040       u            g             aa         v
676      a  30.58  10.665       u            g              q         h
677      b  19.42   7.250       u            g              m         v
678      a  17.92  10.210       u            g             ff        ff
679      a  20.08   1.250       u            g              c         v
680      b  19.50   0.290       u            g              k         v
681      b  27.83   1.000       y            p              d         h
682      b  17.08   3.290       u            g              i         v
683      b  36.42   0.750       y            p              d         v
684      b  40.58   3.290       u            g              m         v
685      b  21.08  10.085       y            p              e         h
686      a  22.67   0.750       u            g              c         v
687      a  25.25  13.500       y            p             ff        ff
688      b  17.92   0.205       u            g             aa         v
689      b  35.00   3.375       u            g              c         h

     YearsEmployed PriorDefault Employed  CreditScore DriversLicense Citizen  \
673          2.000            f        f            0              f       g
674          0.210            f        f            0              f       g
675          0.665            f        f            0              f       g
676          0.085            f        t           12              t       g
677          0.040            f        t            1              f       g
678          0.000            f        f            0              f       g
679          0.000            f        f            0              f       g
680          0.290            f        f            0              f       g
681          3.000            f        f            0              f       g
682          0.335            f        f            0              t       g
683          0.585            f        f            0              f       g
684          3.500            f        f            0              t       s
685          1.250            f        f            0              f       g
686          2.000            f        t            2              t       g
687          2.000            f        t            1              t       g
688          0.040            f        f            0              f       g
689          8.290            f        f            0              t       g

    ZipCode  Income ApprovalStatus
673   00256      17              -
674   00260     246              -
675   00240     237              -
676   00129       3              -
677   00100       1              -
678   00000      50              -
679   00000       0              -
680   00280     364              -
681   00176     537              -
682   00140       2              -
683   00240       3              -
684   00400       0              -
685   00260       0              -
686   00200     394              -
687   00200       1              -
688   00280     750              -
689   00000       0              -

In [5]:
#Import Numpy
import numpy as np

#Inspect missing value in the data set
print(cc_apps.tail(17))

print("\n")

#Replace the '?'s with NaN
cc_apps.replace('?', np.nan, inplace = True)

#Inspect the missing value again
print(cc_apps.tail(17))

    Gender    Age    Debt Married BankCustomer EducationLevel Ethincity  \
673      ?  29.50   2.000       y            p              e         h
674      a  37.33   2.500       u            g              i         h
675      a  41.58   1.040       u            g             aa         v
676      a  30.58  10.665       u            g              q         h
677      b  19.42   7.250       u            g              m         v
678      a  17.92  10.210       u            g             ff        ff
679      a  20.08   1.250       u            g              c         v
680      b  19.50   0.290       u            g              k         v
681      b  27.83   1.000       y            p              d         h
682      b  17.08   3.290       u            g              i         v
683      b  36.42   0.750       y            p              d         v
684      b  40.58   3.290       u            g              m         v
685      b  21.08  10.085       y            p              e         h
686      a  22.67   0.750       u            g              c         v
687      a  25.25  13.500       y            p             ff        ff
688      b  17.92   0.205       u            g             aa         v
689      b  35.00   3.375       u            g              c         h

     YearsEmployed PriorDefault Employed  CreditScore DriversLicense Citizen  \
673          2.000            f        f            0              f       g
674          0.210            f        f            0              f       g
675          0.665            f        f            0              f       g
676          0.085            f        t           12              t       g
677          0.040            f        t            1              f       g
678          0.000            f        f            0              f       g
679          0.000            f        f            0              f       g
680          0.290            f        f            0              f       g
681          3.000            f        f            0              f       g
682          0.335            f        f            0              t       g
683          0.585            f        f            0              f       g
684          3.500            f        f            0              t       s
685          1.250            f        f            0              f       g
686          2.000            f        t            2              t       g
687          2.000            f        t            1              t       g
688          0.040            f        f            0              f       g
689          8.290            f        f            0              t       g

    ZipCode  Income ApprovalStatus
673   00256      17              -
674   00260     246              -
675   00240     237              -
676   00129       3              -
677   00100       1              -
678   00000      50              -
679   00000       0              -
680   00280     364              -
681   00176     537              -
682   00140       2              -
683   00240       3              -
684   00400       0              -
685   00260       0              -
686   00200     394              -
687   00200       1              -
688   00280     750              -
689   00000       0              -


    Gender    Age    Debt Married BankCustomer EducationLevel Ethincity  \
673    NaN  29.50   2.000       y            p              e         h
674      a  37.33   2.500       u            g              i         h
675      a  41.58   1.040       u            g             aa         v
676      a  30.58  10.665       u            g              q         h
677      b  19.42   7.250       u            g              m         v
678      a  17.92  10.210       u            g             ff        ff
679      a  20.08   1.250       u            g              c         v
680      b  19.50   0.290       u            g              k         v
681      b  27.83   1.000       y            p              d         h
682      b  17.08   3.290       u            g              i         v
683      b  36.42   0.750       y            p              d         v
684      b  40.58   3.290       u            g              m         v
685      b  21.08  10.085       y            p              e         h
686      a  22.67   0.750       u            g              c         v
687      a  25.25  13.500       y            p             ff        ff
688      b  17.92   0.205       u            g             aa         v
689      b  35.00   3.375       u            g              c         h

     YearsEmployed PriorDefault Employed  CreditScore DriversLicense Citizen  \
673          2.000            f        f            0              f       g
674          0.210            f        f            0              f       g
675          0.665            f        f            0              f       g
676          0.085            f        t           12              t       g
677          0.040            f        t            1              f       g
678          0.000            f        f            0              f       g
679          0.000            f        f            0              f       g
680          0.290            f        f            0              f       g
681          3.000            f        f            0              f       g
682          0.335            f        f            0              t       g
683          0.585            f        f            0              f       g
684          3.500            f        f            0              t       s
685          1.250            f        f            0              f       g
686          2.000            f        t            2              t       g
687          2.000            f        t            1              t       g
688          0.040            f        f            0              f       g
689          8.290            f        f            0              t       g

    ZipCode  Income ApprovalStatus
673   00256      17              -
674   00260     246              -
675   00240     237              -
676   00129       3              -
677   00100       1              -
678   00000      50              -
679   00000       0              -
680   00280     364              -
681   00176     537              -
682   00140       2              -
683   00240       3              -
684   00400       0              -
685   00260       0              -
686   00200     394              -
687   00200       1              -
688   00280     750              -
689   00000       0              -

In [6]:
#Impute the missing values with mean imputation

cc_apps.fillna(cc_apps.mean(), inplace=True)

#To avoid the future warning & TypeError on calling the reduction, we can use the below one:-
#cc_apps.fillna(cc_apps[['Debt', 'YearsEmployed', 'CreditScore', 'Income']].mean(), inplace=True)

#Count the no of NaN's in datasets to verify

print(cc_apps.isna().sum())

Gender            12
Age               12
Debt               0
Married            6
BankCustomer       6
EducationLevel     9
Ethincity          9
YearsEmployed      0
PriorDefault       0
Employed           0
CreditScore        0
DriversLicense     0
Citizen            0
ZipCode           13
Income             0
ApprovalStatus     0
dtype: int64

C:\Users\raman\AppData\Local\Temp/ipykernel_24876/4157507960.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cc_apps.fillna(cc_apps.mean(), inplace=True)

In [7]:
#Handling missing values for object type columns with most frequent values:-

for col in cc_apps.columns:
    if cc_apps[col].dtypes == "object":
        cc_apps = cc_apps.fillna(cc_apps[col].value_counts().index[0])
        
#Count the no of NaN's in datasets and print the count to verify.
print(cc_apps.isna().sum())

Gender            0
Age               0
Debt              0
Married           0
BankCustomer      0
EducationLevel    0
Ethincity         0
YearsEmployed     0
PriorDefault      0
Employed          0
CreditScore       0
DriversLicense    0
Citizen           0
ZipCode           0
Income            0
ApprovalStatus    0
dtype: int64

In [8]:
#Convert non-numeric data to numeric
#import LabelEncoder

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

#Iterate over all the values of each columns & extract their dtypes

for col in cc_apps.columns.values:
    if cc_apps[col].dtypes == 'object':
        cc_apps[col] = le.fit_transform(cc_apps[col])
        
#printing the datatypes for verify
print(cc_apps.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          690 non-null    int32
 1   Age             690 non-null    int32
 2   Debt            690 non-null    float64
 3   Married         690 non-null    int32
 4   BankCustomer    690 non-null    int32
 5   EducationLevel  690 non-null    int32
 6   Ethincity       690 non-null    int32
 7   YearsEmployed   690 non-null    float64
 8   PriorDefault    690 non-null    int32
 9   Employed        690 non-null    int32
 10  CreditScore     690 non-null    int64
 11  DriversLicense  690 non-null    int32
 12  Citizen         690 non-null    int32
 13  ZipCode         690 non-null    int32
 14  Income          690 non-null    int64
 15  ApprovalStatus  690 non-null    int32
dtypes: float64(2), int32(12), int64(2)
memory usage: 54.0 KB
None

In [9]:
#Spliting datasets into train and test datasets
from sklearn.model_selection import train_test_split

#Drop the feature 11 and 13 as these two features are not required to include and convert the dataframe into numpy array 

cc_apps = cc_apps.drop(['DriversLicense', 'ZipCode'], axis=1).values

In [11]:
#Segregate features and labels into separate variable
X= cc_apps[:, 0:13]
y = cc_apps[:, 13:14]

#reshape of y to flattened 1d array
y = y.ravel()

#Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [12]:
#scaling X_train & X_test data before fit the model

from sklearn.preprocessing import MinMaxScaler

#Instantiate MinMaxScaler and rescale X_train & X_test

scaler = MinMaxScaler(feature_range=(0, 1))
rescaledX_train = scaler.fit_transform(X_train)
rescaledX_test = scaler.fit_transform(X_test)

In [14]:
#import Logistic Regression
from sklearn.linear_model import LogisticRegression

##Instantiate Logistic Regression classifier with default parameter values
logreg = LogisticRegression()

#Fit logreg to train the dataset
logreg.fit(rescaledX_train, y_train)

LogisticRegression()

In [16]:
#Import confusion martix

from sklearn.metrics import confusion_matrix

#use logreg to predict the instances from the test set and store it
y_pred = logreg.predict(rescaledX_test)

#accuracy score of logreg model
print("Accuracy of logistic regression classifier: ", logreg.score(rescaledX_test, y_test))

#print the confusion matrix of logreg model

print("Confusion matrix of logreg model:", "\n", confusion_matrix(y_pred, y_test))

Accuracy of logistic regression classifier:  0.8377192982456141
Confusion matrix of logreg model:
 [[92 26]
 [11 99]]